LEGACY_SITEMAP_DOCROOT="/var/www/html/"
LEGACY_SITEMAP_URL="http://192.168.33.21/"
LEGACY_SITEMAP_API="http://192.168.33.21/legacy-sitemap/api/"
LEGACY_SITEMAP_DATABASE="/var/www/legacy-sitemap.sqlite3"
LEGACY_SITEMAP_API_KEY=""
LEGACY_SITEMAP_HTPASSWD="/var/www/htpasswd"
